html {
    font-size: 100%;
    box-sizing: border-box;
}


//TODO find out what this means
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Francois One", sans-serif;
    line-height: 1.3;
}
